[Unit]
Description=Timer to run rclone-sync.service every Tuesday at 00:00 (local time)
Requires=network-online.target
After=network-online.target

[Timer]
OnCalendar=Tue 00:00
Persistent=true

[Install]
WantedBy=timers.target
